/* body {
    background-color: #1e1e1e;
    width: 70vw;
    margin: 30px auto;
    font-family:'Courier New', Courier, monospace;
    color: #d4d4d4;
}
sdfadsfasdf

h1, h2, h3, h4, h5, h6 {
    color: #ffb417;
}

a {
    color: #7bdcf0;
}

a:hover {
    color: #93cea8;
}

a:visited {
    color: #ce723b;
} */